* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #d9dcd6;
}

header {
    margin: 0;
    padding: 0;
    height: 50px;
    background: rgba(56, 55, 55, 0.6);
    list-style-type: none;
}

header h1 {
    height: 70%;
    width: 30%;
    background-color: rgb(20, 148, 199);
    text-align: left;
    position: relative;
    box-shadow: 2px -5px 5px rgba(34,34,34,0.6);
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

nav {
    display:flex;
    justify-content: flex-end;
    float: right;
}

ul {
    list-style-type: none;
}

.about {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px; 
}